
:root {
  --paddibg-elem: 10px;
  --border-radius: 3px;
  --border: 1px solid var(--tg-theme-text-color, #333);
  --color-tg: var(--tg-theme-text-color, #333)
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
  color: var(--color-tg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;

}

#root {
  width: 100wv;
}

#form {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#editor {
  min-height: 150px;
}

.field, button {
  background-color: var(--tg-theme-bg-color);
  padding: var(--paddibg-elem);
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--color-tg);
}


button {
  background-color: var(--tg-theme-bg-color, rgb(53, 47, 103));
  color: var(--tg-theme-text-color, white);
}

.hover {
  display: none;
}