
:root {
  --paddibg-elem: 10px;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

#root {
  width: 100wv;
}

#form {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: var(--paddibg-elem);
}
textarea {
  resize: vertical;
  padding: var(--paddibg-elem);
}

button {
  padding: var(--paddibg-elem);
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}